@font-face {
    font-family: HansKendrick;
    src: url("../fonts/HansKendrick-Regular.otf");
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.wrapper-admin {
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
}

.card-panel {
    margin-top: 20vh;
}

main {
    flex: 1 0 auto;
}

h6 {
    font-size: 1.2em;
}

#logo_menu {
    width: 15em;
    height: 15em;
    display: block;
    margin: 1em auto;
}

#slide-out {
    padding-top: 1em;
}

header,
main,
footer {
    padding-left: 300px;
}

.btn {
    text-transform: none;
}

.full-width {
    width: 100%;
}

.striped td {
    padding: 2%;
}

.small-margin-bottom {
    margin-bottom: .5em;
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
    padding: 0 32px;
}

.fixed-height {
    height: 13em;
}

.position-text-left {
    margin-top: 5em;
    margin-left: 3em;
}

.position-text-right {
    margin-top: 5em;
    margin-right: 3em;
}

.mediumFont {
    font-size: 2em;
}

.hansHendrick {
    font-family: HansKendrick, sans-serif;
}

ul.dropdown-content.select-dropdown li span {
    /*dropdown color change*/
    color: #000;
}

.priceInclBtw {
    margin-top: .5em;
}

.priceExclBtw {
    margin: .5em 0 2.5em 0;
}

.green-border {
    border-bottom: 2px solid #00B7B3;
}

.footer-ul {
    padding: .5em;
}

.review {
    padding: 1em !important;
}

.review .stars {
    margin: .5em 0;
}

.footer-ul-second li {
    padding-left: 1em;
}

.headerPic {
    background-image: url("../img/header-refugeewalk.png");
    background-size: cover;
    height: 40vh;
}

#mapIcon {
    position: absolute;
    top: 5%;
    right: 5%;
}

.card-title{
    margin-bottom: 10%;
}

.marginTop {
    margin-top: 10%;
}

#aantalLabel {
    padding-bottom: 3%;
}

#map {
    width: 100%;
    height: 100vh;
}

.tabs .indicator {
    background-color: #00b7b3;
}

.logoLogin {
    width: 30%;
}

/*FORM COLOR CHANGES*/


/* label color */

.input-field label {
    color: #000;
}


/* label focus color */

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
#reviewtext:focus + label,
#product_description:focus + label {
    color: #000;
}


/* label underline focus color */

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
#reviewtext:focus,
#product_description:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    .side-nav .collapsible-header,
    .side-nav.fixed .collapsible-header {
        padding: 0 16px;
    }
}




